# Auto detect text files and perform LF normalization
* text=auto

# Force LF for scripts and config files to prevent breaking in Linux
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.bat text eol=crlf