$colors: (
  primary: #353535,
  secondary: #3C6E71,
  complementary: #284B63,
  light: #f5f5f5,
  dark: #05202c,
  error: #ff2818,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

@font-face {
    font-family: "Montserrat-Regular";
    src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}